{{ define "main" }}
  <main aria-role="main">
  <header class="home-page heaeder">
    <h1>Trevor Piltch</h1>
</header>
    <p>
Hi, I'm Trevor! I'm studying software engineering at McGill University in Montreal. I've worked with a variety of languages and platforms over the past few years, but my passion is iOS app development and low level programming. I love learning and I'm always learning a new language or framework (check out my labs section to see what I'm currently learning!)

I'm the lead software engineer for the flight computer project on the McGill Rocket Team. It's an entirely student run club and we've won multiple awards in the past few years. As lead, I'm in charge of architecting the whole software system and managing tasks for the general members to work on. I like taking on the more challenging tasks and I've solved an I2C bus bug and written a real time operating system to manage the sensor inputs and ejection circuits. Check out my work section to learn more!

One of my non-academic passions is skateboarding, and I'm working on a skateboard companion app called Wheels. It stores your riding routes and history and keeps track of your boards. It helps me to see what my riding stats (speed, distance, duration) are and how often I'm using specific boards. It's been a very fun project and one that I use every time I ride.

If you have any questions about my work, or want to see if we can work together, you can send me an email or find me on LinkedIn. All my open source code is on GitHub if you want to take a look. I'm always open to new projects and ideas!
  </p>


  </main
{{ end }}
