@font-face {
    font-family: 'CaskaydiaCove Nerd Font';
    src: url('./Caskaydia-Cove-Nerd Fon-Complete-Regular.otf') format('otf2');
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('./SF-Pro-Rounded-Regular.otf') format('otf2');
}

:root {
    --text: #DADADB;
    --background: #1D1E20;
    --accent: #6364FF;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'SF Pro Rounded', monospace;
    background-color: var(--background);
    color: var(--text);
}

a:visited {
    color: var(--text);
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: var(--accent);
}

#header {
    position: fixed;
    top: 0;
    width: calc(100% - 2*100px);
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    color: var(--text);
}

#content {
    margin: 0px 180px 0px 180px;
    line-height: 1.5rem;

    p {
        text-indent: 50px;
    }
}

#about::before, #work::before, #labs::before, #words::before {
    content: "";
    display: block;
    height: 80px;
    /* Adjust based on the height of your header */
    margin-top: -80px;
    /* Should be the same as height */
    visibility: hidden;
}

#work {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 54px;
}

#about::after, #work::after, #labs::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 20%;
    border-bottom: 2px solid var(--accent);
}

#profile-photo {
    display: block;
    margin: auto;
    width: 210px;
    height: 227.31px;
    border-radius: 50%;
    outline: 5px solid var(--accent);
}

#footer {
    width: calc(100% - 2*100px);
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    color: var(--text);
}