<head>
    {{ partialCached "math.html" . }}
</head>
<div class="container">
    <div class="row flex-column-reverse flex-md-row rad-fade-down">
        <div class="">
            {{ $xp := (where .Site.RegularPages.ByDate.Reverse "Type" "blog") }}
            {{ $xpCount := len $xp }}
            {{ $totalCount := 6}}
            
            {{ if not .IsHome }}
            {{ $totalCount = len $xp }}
            {{ end }}
            {{ range first $totalCount $xp }}
            <div class="blog">
                <a href="{{.Permalink}}">
                  <div class="blog__title">{{ .Params.title }}</div>
                  <div class="blog__date">{{ .Params.blog}}</div>
                  <div class="blog__description">
                      {{ .Params.description}}
                  </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</div>
