<div class="container">
    <div class="row flex-column-reverse flex-md-row rad-fade-down">
        <div class="">
            {{ $xp := (where .Site.RegularPages.ByDate.Reverse "Type" "project") }}
            {{ $xpCount := len $xp }}
            {{ $totalCount := 6}}
            
            {{ if not .IsHome }}
            {{ $totalCount = len $xp }}
            {{ end }}
            {{ range first $totalCount $xp }}
            <div class="project">
                <a href="{{.Permalink}}">
                  <div class="project__title">{{ .Params.title }}</div>
                  <div class="project__description">
                      {{ .Params.description}}
                  </div>
                </a>
                <div class="project__repo">
                  <a id="repo" href="{{ .Params.link }}">Repo</a>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
